workflows/Market Trend Discovery Agent.json
{
  "name": "Market Trend Discovery Agent",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -240,
        0
      ],
      "id": "d608d615-12c9-4bc7-9507-45e02b3eee82",
      "name": "When chat message received",
      "webhookId": "525a9a1e-6e40-49ca-812b-756ff61794d9"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "10c32def-524c-4d02-a18c-29afade7d618",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "dtg7o7QyNZawLkBj",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a user intent classification specialist.\n\nYour task: Determine if the user's input relates to rugs trends.\n\nClassification Rules:\nOutput {\"trend\": \"yes\"} if the user:\n• Mentions product trends, trending topics, or market trends\n• Shares URLs from e-commerce platform (Amazon) suggesting trending items\n• Asks about what's popular, trending, or gaining traction\nOutput {\"trend\": \"no\"} if the user:\n• Asks general questions unrelated to trends\n• Shares content without trend indicators\n\nResponse Format:\nReturn ONLY valid JSON with no additional text or explanation\nBase classification strictly on the provided input—do not infer beyond what's explicitly stated\nAnalyze both direct mentions and contextual signals (URLs, keywords, phrasing)"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "7291ce63-8b3a-4b0b-b765-d40690a9999b",
      "name": "Find user intent"
    },
    {
      "parameters": {
        "jsCode": "// Input example:\n// [\n//   {\n//     \"output\": \"```json\\n{\\n  \\\"trend\\\": \\\"no\\\",\\n  \\\"answer\\\": \\\"Hello! How can I help you today?\\\"\\n}\\n```\"\n//   },\n//   {\n//     \"output\": \"```json\\n{\\n  \\\"trend\\\": \\\"yes\\\"\\n}\\n```\"\n//   }\n// ]\n\nreturn items.map(item => {\n  let raw = item.json.output;\n\n  // Remove markdown formatting like ```json ... ```\n  raw = raw.replace(/```json|```/g, \"\").trim();\n\n  let parsed;\n  try {\n    parsed = JSON.parse(raw);\n  } catch (e) {\n    parsed = { trend: \"no\", answer: \"Parsing error\" };\n  }\n\n  return {\n    json: parsed\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        48
      ],
      "id": "b49f3f7d-a6da-463b-ab26-7f9ed6913076",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "68acae6a-8a56-42b0-81ea-7e75e0cfbbd5",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "content": "# User intent identifier\n\n### Returns \"yes\" if the user asks about rug trends;\n\n### Returns \"no\" for simple questions and provides a response without scraping.",
        "height": 528,
        "width": 592
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -32,
        -176
      ],
      "typeVersion": 1,
      "id": "3da4d684-f310-4805-9874-3d8868488926",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "51fe9a21-ce96-45b3-a92e-03c2dfe8bf23",
              "leftValue": "={{ $json.trend }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        976,
        48
      ],
      "id": "bc9e185c-f57b-4b77-bbf7-b2a368cfee87",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        976,
        960
      ],
      "id": "959d2510-0e1f-4fe6-915f-3eadd4045bf4",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "dtg7o7QyNZawLkBj",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Simple AI agent\n\nWill answer simple user questions",
        "height": 464,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        928,
        640
      ],
      "typeVersion": 1,
      "id": "ae04c4e2-7c20-4906-a09f-c99483617679",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        992,
        736
      ],
      "id": "eef4be60-e558-46a8-b3cc-2db6fb85d881",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "url": "https://www.landryandarcari.com/blogs/news.atom",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        1728,
        192
      ],
      "id": "07fae992-514a-404e-8d4d-e02160156ca4",
      "name": "landy&arcari"
    },
    {
      "parameters": {
        "url": "https://humminghaus.com/blogs/blog.atom",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        1728,
        32
      ],
      "id": "3c848fbd-8d69-4d6b-b15b-a6f58d464f0f",
      "name": "humming_haus"
    },
    {
      "parameters": {
        "url": "https://www.rugs.com/blog/feed",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        1728,
        336
      ],
      "id": "1b4742c8-90bf-4bf8-a874-9637aa72b523",
      "name": "rugs_blog"
    },
    {
      "parameters": {
        "url": "https://www.ruglove.co.uk/blogs/rugs.atom",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        1728,
        496
      ],
      "id": "032881b4-98eb-46a6-876d-57220892bfdc",
      "name": "rug_love"
    },
    {
      "parameters": {
        "content": "## RSS Feed\ngets post from different by RSS and filtered this today",
        "height": 864,
        "width": 400,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1616,
        -112
      ],
      "typeVersion": 1,
      "id": "2f106846-200b-418b-9e2f-58a158992180",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2144,
        288
      ],
      "id": "d1050351-738d-4eb1-a5ee-e637d6d3bf41",
      "name": "Merge - RSS Feeds"
    },
    {
      "parameters": {
        "fieldToSplitOut": "title, link, pubDate, content, contentSnippet, isoDate",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2352,
        320
      ],
      "id": "1c69b903-8e44-45b2-b7ee-bf302b80e199",
      "name": "Split - RSS Fields"
    },
    {
      "parameters": {
        "jsCode": "const output = [];\nconst now = new Date();\nconst twoDaysAgo = new Date();\ntwoDaysAgo.setDate(now.getDate() - 7); // only include last 7 days\n\nfor (const item of $input.all()) {\n  const isoDate = new Date(item.json.isoDate);\n  if (isoDate >= twoDaysAgo && isoDate <= now) {\n    output.push(item);\n  }\n}\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2560,
        320
      ],
      "id": "ac6cbca5-bbc0-4528-b48f-e61a0937ce64",
      "name": "Filter - Recent Items"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/customsearch/v1",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2272,
        -240
      ],
      "id": "d911b5e0-7c0a-4027-a450-cb8f3c1ced8e",
      "name": "Google Search"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Find user intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Find user intent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Find user intent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Find user intent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "humming_haus",
            "type": "main",
            "index": 0
          },
          {
            "node": "landy&arcari",
            "type": "main",
            "index": 0
          },
          {
            "node": "rugs_blog",
            "type": "main",
            "index": 0
          },
          {
            "node": "rug_love",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Search",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "humming_haus": {
      "main": [
        [
          {
            "node": "Merge - RSS Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "landy&arcari": {
      "main": [
        [
          {
            "node": "Merge - RSS Feeds",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "rugs_blog": {
      "main": [
        [
          {
            "node": "Merge - RSS Feeds",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "rug_love": {
      "main": [
        [
          {
            "node": "Merge - RSS Feeds",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge - RSS Feeds": {
      "main": [
        [
          {
            "node": "Split - RSS Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split - RSS Fields": {
      "main": [
        [
          {
            "node": "Filter - Recent Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "47f77e8f-9c1d-46c4-9bcd-d41ba054a516",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1289796b22356aafa8f547c4cba0d0041f8a790992248457171690c2df6dd22d"
  },
  "id": "qnPKB6XejZXBz0Tf",
  "tags": []
}